body{
    background-color: white;
    margin:0;
    /* width:100vh; */
    overflow-x: hidden;
}
*{
 
}
a{
    text-decoration: none;
}
/* Navbar Styling */
nav{
    /* background-color: white; */
    padding:20px 100px;
}
nav p{
    float:left;
    margin: 0;
}

.hamburgershow{
    display: flex;
    justify-content: flex-end;
}
.navbarLinks{
   display: flex;
   justify-content: flex-end;
   margin: 0 20px;
}
.navbarLinks a{
    float:left;
    text-decoration: none;
    margin:0 10px;
}




#header{
    /* background-color: white; */
    /* height:250px; */
    display: flex;
    padding:150px 100px 75px;
}

.dot{
    border-radius: 50%;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 60%;
    border-top-right-radius: 90%;
    /* background-color:aqua; */
    height: 100px;
    width: 100px;
    display: inline-block;
    position: absolute;
    opacity: 0.3;
    
}
.dot1{
    background-color:#343efb;
     top:30px;
      left:-10px; 
    height:150px;
     width: 100px;
     filter: blur(30px);
}
.dot2{
    position: absolute;
    background-color: #ef655d;
    border-radius: 30%;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 90%;
    top: 90%;
    filter: blur(20px);
    right: -100px;
    width: 300px;
    height: 200px;
}
.dot3{
    background-color: #ef0cef;;
     top:250px; 
     right:0px; 
     /* height: 300px; */
     filter: blur(40px);
}
.imgWrapper{
    /* height: 400px;
    width: 500px;
    background-color: red;
    display: inline-block;
    position: absolute;
    right: 15%;
    top:0%;
    border-radius: 50%;
    z-index: -1; */

    display: inline-block;
    position: absolute;
    right: -5%;
    top: -73%;
    /* border-radius: 50%; */
    z-index: -1;
    /* padding: 50px 0; */
    /* height: 1000px; */
    transform: rotate(180deg);

}

#headText{
    /* width: 70%; */
   
}
.headerImg{
    position: relative;
}
.headerImg img{
    height:270px;
}
.button{
    /* color:white; */
    background-color: yellow;
    height: 30px;
    width: 70px;
    border: none;
    border-radius: 10px;
}
.button:hover{
    background-color: whitesmoke;
    color:yellow;
    /* border-bottom: 5px solid black; */
}


.headSkills{
   
    margin: 30px 0;
}
.secondSkills{
    width:500px;
}
.skillsTab{
    float:left;
    margin:10px 20px;
    background-color: rgb(237, 15, 222);
    padding:8px;
    border-radius: 8px;
}
.headSkills :nth-child(2n){
    background-color: blueviolet;
    color:white;
}



/* About ME Section */
#aboutMe{
    padding:75px 100px;
}

#aboutText{
    width: 70%;   
}




/* Mobile Size Media Query */


@media only screen and (max-width: 768px) {
    nav{
        /* width: 100vh; */
        padding:40px;
    }
    .navbarLinks{
        display: none;
    margin:0 40px;
    }
    .menuIcon{
        display: flex!important;
        justify-content: flex-end;
    }
    .navModal{
        height: 100vh;
        background-color: #343efb;
        display:none;
    }
.dot1{
    top: 75px;
    height: 100px;
    width: 50px;
    left: -5px;
}
.dot2{
   
    height: 100px;
    width: 200px;
    right: -40px;
   
}
.dot3{
    top: 1500px;
    /* right: -30px; */
    width: 150px;
}

#header{
    /* width: 100vh; */
    display: inline-block;
    padding:30px;
}
.headerImg {
    margin: 100px 0 0;
}
.headerImg img{
    height: 200px;
    margin-top: 50px
}
#aboutMe{
    /* width: 100vh; */
    padding:30px;
}

.skillsTab{
    font-size: xx-small;
}
.skillsTab{
    margin: 0 5px;
}
.headSkills{
    width:250px;
}
.secondSkills{
    width:200px;
}
.imgWrapper{
    right: -5%;
    top: -55%;
}
}
