
/* Global Styling */

body {
  background-color: white;
  margin: 0;
  /* width:100vh; */
  overflow-x: hidden;
  font-size: 1rem;
  font-family: "Josefin Sans", sans-serif;
}
* {
  scroll-behavior: smooth;
}

h1,
h2 {
 
}
p{
  font-family: 'Lexend', sans-serif;
}
a {
  text-decoration: none;
}

#header p, #aboutSet p{
  line-height: 25px;
}




/* Navbar Styling */
nav {
  /* background-color: white; */
  padding: 20px 100px;
}

nav p {
  line-height: 10px;
  font-size: 24px;
  float: left;
  color: #865DFF;
  font-weight: bold;
}

.navbarLinks {
  display: flex;
  justify-content: flex-end;
  margin: 0 20px;
}
.navbarLinks ul {
  display: flex;
}
.cancelBtn{
  display: none;
  background: none;
  border: none;
}
.navbarLinks ul li{
  font-weight: bolder;
  list-style: none;
  margin: 0 10px;
  position: relative;
  display: block;
  transition: .5s;
}
.navbarLinks ul li::after{
  position: absolute;
  content:"";
  width:100%;
  height: 3px;
  top:100%;
  left:0;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}
.navbarLinks ul li:hover{
  opacity: 0.5;
}
.navbarLinks ul li:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}
.navbarLinks ul li button {
    
  background: none;
  border: none;
}
.navbarLinks ul li button a{
  color: #2200ff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bolder;
  font-size: 1.2rem;
}
.menuIcon {
  display: none;
}

#header {
  /* background-color: white; */
  /* height:250px; */
  display: flex;
  padding: 70px 100px 75px;
  position: relative;
}

.dot {
  border-radius: 50%;
  border-top-left-radius: 30%;
  border-bottom-left-radius: 60%;
  border-top-right-radius: 90%;
  display: inline-block;
  position: absolute;
  opacity: 0.3;
}
.dot1 {
  background-color: aqua;
  top: 10%;
  left: 0%;
  height: 150px;
  width: 100px;
  filter: blur(30px);
}
.dot2 {
  position: absolute;
  background-color: #a2a9bc;
  border-radius: 10%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 8%;
  border-top-right-radius: 90%;
  top: 55%;
  right: 0%;
  filter: blur(40px);
  width: 200px;
  height: 170px
}
.dot3 {
  background-color: #ef0cef;
  top: 250px;
  right: 0px;
  /* height: 300px; */
  filter: blur(40px);
}
.dot4{
  position: absolute;
  background-color: #16FF00;
  border-radius: 10%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 8%;
  border-top-right-radius: 90%;
  top: 25%;
  right: 0%;
  filter: blur(50px);
  width: 300px;
  height: 170px;

}
.dot5{
  position: absolute;
  background-color: #16FF00;
  border-radius: 10%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 8%;
  border-top-right-radius: 90%;
  bottom: -5%;
  right: 0%;
  filter: blur(50px);
  width: 300px;
  height: 170px;
}
.imgWrapper {
  display: inline-block;
  position: absolute;
  right: -5%;
  top: -75%;
  /* border-radius: 50%; */
  z-index: -1;
  /* padding: 50px 0; */
  /* height: 1000px; */
  transform: rotate(185deg);
}
.blob2 {
  top: -60%;
  z-index: -1;
  transform: rotate(110deg);
  height: 600px;
}
#headText {
  /* width: 70%; */
  /* padding:30px; */
}
.headerImg {
  position: relative;
  margin-top: 50px;
}
.abstractImg {
  height: 270px;
}
#header .button {
  color: white;
  background-color: #47a582;
  height: 35px;
  width: 100px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  padding: 10px;
  font-family: 'Lexend', sans-serif;
}
#header .button:hover {
  background-color: whitesmoke;
  color: #47a582;
  box-shadow: 0 3px 15px #47a582;
}

 .headSkills {
  display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 40px 0 0 0;
}
 .secondSkills {
  margin: 0;
  width: 260px!important;
}  


.skillsTab {
  background-color: #ef655d;
  padding: 8px;
  border-radius: 8px;
  color: white;
}
.headSkills :nth-child(2n) {
  background-color: #a2a9bc;
  color: black;
}
.bullHornAsset {
  position: absolute;
  left: -25%;
  bottom: -10%;
  height: 190px;
}
.heartsAsset {
  height: 70px !important;
  position: absolute;
  top: -30%;
  right: 0%;
}
.starAsset {
  position: absolute;
  height: 75px !important;
  bottom: 0%;
  right: 0%;
  transform: rotate(300deg);
}

/* About ME Section */
#aboutSet {
  padding: 75px 100px;
  position: relative;
}
#aboutMe {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
}

#aboutText {
  width: 50%;
}
.aboutImg {
  display: flex;
}
.ideaAsset {
  height: 200px;
}
.arrowIcon {
  font-size: xxx-large !important;
  font-weight: bolder !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

/* Skills Section  */

#skillsSet {
  padding:45px 100px;
  position: relative;
}
#skillsWrapper,
#projectsWrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 40px 0;
}
.skills {
  width: 230px;
  height: 280px;
  border-radius: 16px;

  background-color: rgba(227, 236, 247, 0.4);
  backdrop-filter: blur(200px);
  box-shadow: 0px 3px 10px #949496;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.skills h2{
  color:#EB455F;
}
.skillsImg{
  height: 75px;
  width: 75px;
}
.learnBtn {
  display: flex;
  width: 100px;
  justify-content: center;
  padding: 10px;
  height: 15px;
  color: blue;
  background-color: white;
  font-weight: bolder;
  border-radius: 10px;
}
.learnBtn:hover {
  color: rgb(128, 128, 220);
  background-color: white;
  outline: solid blue 2px;
  box-shadow: none;
}
/* .skillsCont {
    opacity: 1 !important;
} */

/* Projects Section  */
#projectsSet {
  padding: 45px 100px;
  
}
.projects {
  height: 250px;
  width: 300px;
  background-size: cover !important;
  /* background-size: contain; */
  border-radius: 16px;
  display: flex;
  align-items: flex-end;
}
.crushie {
  background: url("../images/thumbnail1.jpg");
  background-position: 50% 10%;
}
.dwd {
  background: url("../images/thumbnail2.jpg");
  background-position: 50% 10%;
}
.projects span {
  color: black;
  font-weight: bold;
}
.projects h1 {
  color: whitesmoke;
}
.projects .hide {
  visibility: hidden;
}
.projects:hover {
  -moz-box-shadow: inset 0 -10px 10px -10px #000000;
  -webkit-box-shadow: inset 0 -10px 10px -10px #000000;
  box-shadow: inset 0 -100px 100px -100px #000000;
}
.projects:hover .hide {
  visibility: visible;
  transition: 0.5s;
  opacity: 1;
  margin: 40px 20px;
}
.hiddenTitle {
  display: flex !important;
  flex-direction: column;

  /* margin: 30px 20px; */
  opacity: 0.2;
}


/* Contact Me Section  */

#contact {
  padding: 45px 100px;
}
#contactSection {
  display: flex;
  justify-content: center;
}
#contactWrapper {
  display: flex;
  justify-content: space-between;
  background: whitesmoke;
  border-radius: 16px;

}
.contactText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 10px;
}
.contactInfo {
  display: flex;
  justify-content: center;
}
.contactInfo img {
  height: 75px;
}
.contactInfo p {
  display: flex;
  align-items: center;
  
  font-weight: bolder;
}
.gmail img {
  height: 50px;
}
.gmail p {
  font-size: small;
}
.contactImg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  border: dashed rgb(110, 91, 91) 2px;
}
.contactImg img {
  height: 160px;
}


/* Footer Section */
#footer{
  padding: 35px 100px 0 35px;
  text-align: center;
  background-color:#47a582;
  color: white;
}
.sm-icons{
  text-align: center;
}
.footerSection a{
  color: #65ffea;
}
.footerSection p{
margin:0;
padding: 10px;
}
.sm-icons img{
  height: 40px;
  width: 40px;
}

.footerSection{
  margin: 30px 0 0 0;
}
/* Mobile Size Media Query */

@media only screen and (max-width: 768px) {
  nav {
    /* width: 100vh; */
    padding: 30px 10px 0 10px;
  }
  .navHeader{
  background-color: rgba(243, 239, 239, 0.839);
    /* border: solid black 1px; */
    padding: 1px 30px;
    border-radius: 16px

}
  .navbarLinks{
    transform: translate(100%);
    /* display:none; */
  }
  .mobileSideBar {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    top: 0%;
    left: 0%;
    transform: translate(0);
    transition: 0.5s ease;
    z-index: 100;
    justify-content: center;
    margin: 0;
  }
  
  .navbarLinks .active {
    left: 0;
  }
  
  .navbarLinks ul {
    display: none;
    text-align: center;
    padding: 0;
    margin-top:100px ;
  }
  .mobileSideBar ul{ 
    display: block;

  }
  .navbarLinks ul li{
    margin: 50px 0;
  }

 
  .mobileSideBar .cancelBtn{
    display: inline-block;
    height: 50px;
    margin-top: 60px;
    color: #1a1a1c;
    position: absolute;
    bottom: 20%;
    
  }
  .cancelBtn span{
    font-size: 3rem;
    font-weight:bolder;
  }
  .menuIcon {
    display: flex !important;
    justify-content: flex-end;
  }
  .menuIcon span {
    margin: 15px;
    color: #865DFF;
    font-weight: bolder;
  }
  .navModal {
    height: 100vh;
    background-color: #343efb;
    display: none;
  }
  .dot1 {
    left: -8%;
    top: 5%;
  }
  .dot2 {
    right: 0%;
    top: 65%;
    filter: blur(30px);
    width: 100px;
  }
  .dot3 {
    top: 1500px;
    /* right: -30px; */
    width: 150px;
  }
  .dot4{
    top: 45%;
    right: 0%;
    height: 200px;
    width: 150px;
  }
  .dot5{
    
    height: 200px;
    width: 150px;
  }
  #header {
    
    display: inline-block;
    padding: 0px;
  }
  .headerImg {
    overflow: hidden;
    padding: 10px 15px;
    margin: 0;
  }
  #headText {
    margin: 50px 0 0;
    overflow: hidden;
    padding: 0 30px;
  }
  .abstractImg {
    height: 170px;
    margin-top: 90px;
  }
  #aboutSet {
    padding: 30px;
  }
  #aboutMe {
    
    flex-direction: column-reverse;
  }
  #aboutText {
    width: 100%;
  }
  .ideaAsset {
    height: 150px;
  }
  .lady1 {
    height: 130px;
  }
 
  .skillsTab {
    font-size:0.8rem;
  }
  
  .headSkills {
    width: 250px;
  }
  .secondSkills {
    width: 220px!important;
  }  
  .imgWrapper {
    right: 5%;
    top: -30%;
    height: 350px;
  }
  .blob2 {
    height: 350px;
    top: -10%;
    right: 10%;
    transform: rotate(100deg);
  }
  #skillsWrapper,
  #projectsWrapper {
    flex-direction: column;
    /* height: 1000px; */
    align-items: center;
  }
  #skillsWrapper .skills,
  #projectsWrapper .projects {
    margin-top: 20px;
  }

  .hide {
    font-size: 1rem;
  }
  #projectsSet,
  #skillsSet,
  #contact ,#footer{
    padding: 20px 30px;
  }
  .projects {
    height: 200px;
    width: 250px;
  }
  .hiddenTitle {
    /* margin: 20px; */
  }
  .bullHornAsset {
    left: -15%;
    bottom: -20%;
  }
  .heartsAsset {
    top: 10%;
    right: 10%;
    height: 50px !important;
  }
  .starAsset {
    height: 50px !important;
    right: 10%;
    bottom: 5%;
  }
  #contactWrapper {
    flex-direction: column-reverse;
  }
  .contactImg {
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 0;
  }
}
/* *{
    background-color:#f59f9a;
} */
